<p>
  <strong>Cardiovascular risk:</strong>
  <%= current_user.health_profiles.last.cardiovascular_risk %>
</p>

<p>
  <strong>Diabetes risk:</strong>
  <%= current_user.health_profiles.last.diabetes_risk %>
</p>

<% UserHealthPlan.options.each do |health_plan| %>

  <%= simple_form_for @user_health_plan do |f| %>
    <%= f.hidden_field :health_plan_id, value: health_plan.id %>
    <%= f.submit health_plan.title %>
  <% end %>
<% end %>





