<div class="outer-container" id="blank">
  <div class="container">
    <div class="signin-form">

      <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, :as => :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password, label: false, required: true, autofocus: true, placeholder: "New password" %>
          <%= f.input :password_confirmation, label: false, required: true, placeholder: "Confirm your new password" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Change my password" %>
        </div>
      <% end %>

      <div class="devise-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
