<div class='form-container'>
  <div class="main">
    <ul class="form-list">

      <%= simple_form_for @health_profile, html: { novalidate: true } do |f| %>

      <p class="form-info">Required information:</p>

        <div class="health_profile_gender">
          <label class="hp">Gender</label>
          <%= f.collection_radio_buttons  :male, [[true, 'Male'] ,[false, 'Female']],
                                          :first,
                                          :last %>
        </div>

        <%= f.input :dob,
                    as: :string,
                    label: "Birthday",
                    placeholder: "YYYY-MM-DD",
                    error: false %>

        <%= f.input :weight,
                    as: :string,
                    placeholder: 'pounds',
                    error: false %>

        <%= f.input :height,
                    as: :string,
                    placeholder: 'inches',
                    error: false %>

        <label class="hp">Blood Pressure</label>
        <%= f.input :systolic_bp,
                    as: :string,
                    label: false,
                    placeholder: '123',
                    error: false %>
        <span> / </span>
        <%= f.input :diastolic_bp,
                    as: :string,
                    label: false,
                    placeholder: '12',
                    error: false %>

        <p class="form-info">Check that apply:</p>

        <%= f.input :antihypertensive_drugs,
                    label: 'I am taking antihypertension drugs',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <%= f.input :steroid_drugs,
                    label: 'I am taking steroid drugs',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <%= f.input :diabetes,
                    label: 'I have diabetes',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <%= f.input :parent_with_diabetes,
                    label: 'At least one of my parents has diabetes',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <%= f.input :sibling_with_diabetes,
                    label: 'At least one of my siblings has diabetes',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <%= f.input :smoker,
                    label: 'I am a smoker',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <%= f.input :exsmoker,
                    label: 'I am an exsmoker',
                    label_html: {class: 'todo'},
                    input_html: {class: 'toggle'} %>

        <div class="form-actions health-profile-form">
          <%= f.submit 'Submit Health Profile' %>
        </div>

      <% end %>
    </ul>
  </div>
</div>
