<div class="outer-container" id="blank">
  <div class="container">

    <div class="profile-container">
      <span>Weight:</span>
      <span><%= @health_profile.weight %> lb</span>
    </div>

    <div class="profile-container">
      <span>BMI:</span>
      <span><%= @health_profile.calculated_bmi %></span>
    </div>

    <div class="profile-container">
      <span>Blood Pressure:</span>
      <span><%= @health_profile.systolic_bp %> / <%= @health_profile.diastolic_bp %> mmHg</span>
    </div>

    <div class="profile-container">
      <span>Cardiovasular Risk:</span>
      <span><%= @health_profile.cardiovascular_risk %>%</span>
    </div>

    <div class="profile-container">
      <span>Diabetes Risk:</span>
      <span><%= @health_profile.diabetes_risk %>%</span>
    </div>


    <div id="profile_chart" ></div>
    <div id="completion_chart"></div>
  </div>
</div>

<%= render 'charts' %>
