<ul>
  <strong>Your to-dos for the day:</strong>
  <%= form_tag complete_user_to_dos_path, method: :put do %>
    <% @user_to_dos.each do |user_to_do| %>
      <li>
        <%= check_box_tag "user_to_do_ids[]", user_to_do.id %>
        <%= user_to_do.to_do.title %>
        <%= user_to_do.completed %>
      </li>
    <% end %>
    <%= submit_tag "Complete Checked" %>
  <% end %>
</ul>
